/* user-select:none, pointer-events:none */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --contentTextColor: rgb(0,0,0);
    --contentBGColor: rgb(225,225,225,0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*  */
    font-family: Lato;
}

.right-main{
    




    /* background-color: var(--contentBGColor);
    color: var(--contentTextColor);
    float: right;
    transition: left .2s opacity .3s;
    width: calc(100% - 242px); */
}

@media screen and (max-width:992px) {
    .back-button-navbar{

    }
}